<nav class="navbar navbar-default navbar-fixed-top" id="navbar" style="z-index:9999;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" onclick="updateCurrentPage('')" style="cursor: pointer;color:white;" style="color:white;">Nigeria</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a id="link_religion" onclick="updateCurrentPage('religion')" style="cursor: pointer;color:white;">Religion</a></li>
                <li><a id="link_language" onclick="updateCurrentPage('language')" style="cursor: pointer;color:white;">Language</a></li>
                <li><a id="link_food" onclick="updateCurrentPage('food')" style="cursor: pointer;color:white;">Food</a></li>
                <li><a id="link_music" onclick="updateCurrentPage('music')" style="cursor: pointer;color:white;">Music</a></li>
                <li><a id="link_geography" onclick="updateCurrentPage('geography')" style="cursor: pointer;color:white;">Geography</a></li>
                <li><a id="link_landmarks" onclick="updateCurrentPage('landmarks')" style="cursor: pointer;color:white;">Landmarks</a></li>
                <li><a id="link_cities" onclick="updateCurrentPage('cities')" style="cursor: pointer;color:white;">Cities</a></li>
                <li><a id="link_climate" onclick="updateCurrentPage('climate')" style="cursor: pointer;color:white;">Climate</a></li>
                <li><a id="link_governmenteco" onclick="updateCurrentPage('governmenteco')" style="cursor: pointer;color:white;">Government/Economy</a></li>
            </ul>
        </div>
    </div>
</nav>
